.users{
    display: none;
}

@media (min-width:900px) {
    .users{
        width: auto;
        display: flex;
        font-size: 13px;
        color: var(--global-color-font-secondary);
        align-items: center;
    }

    .users > img{
            width: 15px;
            margin-right: 4px;
    }
}